.sidenav {
  background-color: #1d3e5f;
  width: 200px;
  border: 2px solid transparent;
}
.sidenav i {
  padding-right: 10px;
}

.controlArrowBack {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  cursor: pointer;
}

.controlArrowFront a i {
  background-color: #1d3e5f;
  color: #fff;
  height: 3%;
  padding: 0.5%;
  cursor: pointer;
  border-bottom-right-radius: 20%;
}
.content {
  padding: 0px 20px;
  background-color: #fff;
  color: #000;
}
